{% extends "::baseLogin.html.twig" %}
{% block body %}
    {% block fos_user_content %}
        {% if error %}
            {{ error.messageKey|trans(error.messageData, 'security') }}
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" id="login" method="post">
            <h3 class="description">Sign In as user</h3>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <input type="text" name="_username" id="username" placeholder="Email Address" class="loginEmail" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <input type="password" name="_password" id="password" placeholder="Password" class="loginPassword" required="required" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" class="check" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} &middot; <a class="logright" title="Forgot password?" href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
                </label>
            </div>
                <button type="submit" id="_submit" name="submit" class="btn btnCtaAlt">
                    {{ 'security.login.sign_in'|trans }}
                </button>
        </form>
    {% endblock fos_user_content %}

    <a href="#" class="btn btnFb" onclick="fb_login();" title="Sign in as client">
        {{ 'Sign in with Facebook'|trans }}
    </a>
    <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'google' }) }}" class="btn btnGoogle" title="{{ 'Sign in with Google+'|trans }}">
        {{ 'Sign in with Google+'|trans }}
    </a>
{% endblock body %}

