{% extends "::baseLogin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
        <p><a href="{{ path('homepage') }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    {% endblock fos_user_content %}
{% endblock body %}