{% extends "::baseLogin.html.twig" %}

{% block body %}
    <h3 class="description"><strong>Register</strong> account</h3>
    <a href="#" class="btn btnFb" onclick="fb_login();" title="Sign in as client">
        connect with facebook
    </a>
    <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'google' }) }}" class="btn btnGoogle" title="Sign in as client">
        connect with Google+
    </a>
    {% block fos_user_content %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock body %}