{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <h3 class="description">or use email</h3>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': { 'placeholder': 'Email address'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': { 'placeholder': 'Password'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': { 'placeholder': 'Retype Password'}}) }}
    </div>
    <h3 class="description">profile</h3>
    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': { 'placeholder': 'First name'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastName) }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': { 'placeholder': 'Last name'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber, {'attr': { 'placeholder': 'Phone number'}}) }}
    </div>
    <h3 class="description">payments</h3>
    <div class="form-group">
        {{ form_label(form.userCard.cardNumber) }}
        {{ form_errors(form.userCard.cardNumber) }}
        {{ form_widget(form.userCard.cardNumber, {'attr': { 'placeholder': 'Card number'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.userCard.codeCvv) }}
        {{ form_errors(form.userCard.codeCvv) }}
        {{ form_widget(form.userCard.codeCvv, {'attr': { 'placeholder': 'Code CVV'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.userCard.expirationDate) }}
        {{ form_errors(form.userCard.expirationDate) }}
        {{ form_widget(form.userCard.expirationDate, {'attr': { 'placeholder': 'Expiration date'}}) }}
    </div>
    {{ form_rest(form) }}
    <div>
        <input type="submit" class="btn ctaBtn" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<p>Fill in all required fields</p>
<p>By clicking "Register", you accept Terms of Service and conditions Privacy Policy.</p>
